.button {
  background-color: white;
  color: black;
  border: 2px solid rgb(255, 200, 0);
  padding: 100px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}
  
.button:hover {
  background-color: rgb(255, 200, 0);
  color: white;
}

.catch {
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: left; /* 水平左 */
}
.catch:before {
  border-top: 1px solid;
  content: "";
  width: 3em; /* 線の長さ */
}

.catch:before {
  margin-right: 1em; /* 文字の右隣 */
}

.catch:after {
  margin-left: 1em; /* 文字の左隣 */
}

div { 
  text-align : center ; 
}

h1 {
  color: red;
}

h2 {
  color: rgb(255, 200, 0);
}